.muh-video {
//  padding: 0 20px;
    position: relative;
    video {
        width: 100%;
        height: 5.333333rem
        background: #333;
        object-fit: cover;
        display: block;
    }
    .xg-poster {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 100;
        background-size: cover;
        background-position: 50%;
        opacity: 1;
    }
    .xg-poster.hide {
        opacity: 0;
    }
    .xg-cover {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        overflow: hidden;
    }
    .xg-bottom {
        position: absolute;
        width: 100%;
        height: 60px;
        left: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        z-index: 200;
        color: #fff;
//      background: red;
        transform: translateY(0);
        transition: all linear .3s;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, .7)));
        background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .7));
//      line-height: 60px;
        .time {
            font-size: 24px;
        }
        .time-cur {
            margin-left: 30px;
        }
        .progress {
            flex: 1;
            margin: 0 30px;
            background: rgba(255, 255, 255, .3);
            height: 3px;
//          line-height: 6px;
            position: relative;
            background: rgba(255, 255, 255, .3);
            .cache, .played {
                position: absolute;
                height: 100%;
                left: 0;
                top: 0;
//              transition: all linear 3s;
            }
            .cache {
//              width: 20%;
                background: rgba(255, 255, 255, .5);
            }
            .played {
//              width: 10%;
                background-image: linear-gradient(to left, #ff2583, #fe104c);
            }
            .dot {
                position: absolute;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background: #fff;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
        .toggle-view {
            width: 30px;
            height: 30px;
            margin: 0 30px;
            svg {
                width: 100%;
                height: 100%;
            }
        }
    }
    .xg-bottom.hide {
        transform: translateY(60px);
    }
    .xg-start, .xg-pause {
        position: absolute;
        width: 80px;
        height: 80px;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 200;
        transition: all linear .3s;
        opacity: 1;
        background: rgba(0,0,0,.4);
//      background: hsla(0,0%,100%,.3);
        border-radius: 50%;
        svg {
            width: 100%;
            height: 100%;
        }
    }
    .xg-start {
        i {
            display: inline-block;
            position: absolute;
            width: 0;
            height: 0;
            border: 20px solid transparent;
            border-left: 32px solid #fff;
            top: 50%;
            left: 32px;
            // 80/2-32/4
            transform: translateY(-50%);
        }
    }
    .xg-pause.hide {
        opacity: 0;
    }
    .xg-pause {
        .icon-i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            i {
                display: inline-block;
                height: 40px;
                width: 4px;
                border-radius: 5px;
                background: #fff;
            }
            i:first-child {
                margin-right: 14px;
            }
        }
    }
}
